# Root Dependency and Build Ignoring
node_modules/
dist/
.vite/

# Client Specific Ignoring
client/node_modules/
client/dist/
client/.vite/

# Server Specific Ignoring
server/node_modules/
server/.env
server/logs/

# Standard OS and Editor Files
.DS_Store
.vscode/
.idea/
*.log
*.local
